<footer class="bk-footer">
	<div class="wrapper clearfix">
		{{widget('profile', 'footercolumn1socialicons', { 'profileType' : 'socialicons' })|raw}}
		{{widget('profile', 'footercolumn1profileEmail', { 'profileType':'email', 'email':'profile'})|raw}}
		{{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}}
	</div>
</footer>