{% extends "layout.twig" %}

{% block content %}

	{% include "header.twig" %}

	<div class="bk-pt-gallery gallery-page">
	
		<div class="image-wrapper">
		        {{widget('image', 'galleryheaderimage', {
  					'src': asset('images/gallery/1.jpg')
				})|raw}}
		</div>
	
		<div class="canvas">
			<div class="main wrapper clearfix">
				{{zone('main')|raw}}
			</div>
		</div>
	
	</div>
	


{% endblock %}



