{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-gallery bk-pt-home">

	{% include "header.twig" %}
	
		<div class="home-slideshow-wrapper">
			{{widget('responsiveslideshow', 'responsiveslideshow',
				{'duration':'6',
					'transSpeed': '1000',
					'transType': 'fade',
					'showButtons': false,
					'showBullets': true,
					'allowPause': false,
					'allowLoop': true,
					'showDescription': true,
					'showTitle': true,
					'crop': true,
					'images': [
						{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/1.jpg'), 'title':'The traditional architecture of Santorini is similar to that of the other Cyclades, with low-lying cubical houses, made of local stone and whitewashed or limewashed with various volcanic ashes used as colours.', 'description': 'book now'},
						{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/2.jpg'), 'title':'Santorini was named by the Latin Empire in the thirteenth century, and is a reference to Saint Irene, from the name of the old cathedral in the village of Perissa.', 'description': 'book now'},
						{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/3.jpg'), 'title':'The island remains the home of a small, but flourishing, wine industry, based on the indigenous Assyrtiko grape variety, with auxiliary cultivations of Aegean white varieties such as Athiri and Aidani.', 'description': 'book now'}
					]
				})|raw
			}}
		</div>
		
		<div class="canvas">
			<div class="main wrapper clearfix">
				{{zone('main')|raw}}
			</div>
		</div>
		
	</div>

{% endblock %}
